.bnr_caption {
    border-radius: 16px;
    padding: 0 13px 0 30px;
    list-style: disc;
    display: inline-block;
    vertical-align: middle;
    word-break: break-word;
    margin-bottom: 10px;
}

.hero-banner-slider__li{
    display: flex;
}

.hero-banner-slider .hero-banner-slider__text-wrapper{
    position:absolute;
    top:0px;
    Left:0px;
    /* border:solid 2px blue; */
    height:100%;
    width:100%;
    display: flex;
    /* align-items: flex-end;
    justify-content: center; */
}



.slide-section .splide__arrows .splide__arrow--prev{
  top: unset;
  bottom: 1%;
  transform : unset;
  background: none;
  cursor: pointer;
  left: 40%;

}

.slide-section .splide__arrows .splide__arrow--prev svg{
  fill : #fff;
  height: 44px;
  width: 44px;
}

.slide-section .splide__arrows .splide__arrow--next{
  top: unset;
  bottom: 1%;
  transform : unset;
  background: none;
  cursor: pointer;
  right: 40%;
}

.slide-section .splide__arrows .splide__arrow--next svg{
  fill : #fff;
  height: 44px;
  width: 44px;
}

.slide-section .slider-counter__link--active.slider-counter__link--dots .dot {
    background-color: #fff;
    width: 30px;
    border-radius: 10px;
}

.slide-section .splide__pagination__page {
  width: 10px;
  height: 10px;
  margin: 0 15px;
  background-color: transparent;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  border: 1px solid white;
}
.slide-section .splide__pagination .is-active{
  width: 30px;
  border-radius: 10px;
  background-color: #fff;
}