.rich-text-coustom .main_title h2{
    font-weight: 600;
    margin-top: 10px;
    font-size: 52px;
}
.rich-text-coustom .pre_title{
    font-size: 1.6rem;
    letter-spacing: 0.08rem;
}


.rich-text-coustom__button_text{
    z-index: 2;
}

@media (max-width: 750px) {
    .rich-text-coustom .main_title h2{
        font-size: 30px;
        margin-top: 10px; 
    }

    .rich-text-coustom .pre_title {
        font-size: 1.6rem; 
    }
}

