.grid-item--container {
  border-radius: 16px;
  position: relative;
}

.grid-item__grid-image-container {
  position: relative;
  padding-bottom: 60%;
}

.grid-item__grid-image-container img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.grid-item--container:hover {
  overflow: hidden;
  .grid-item__grid-image-container img {
    transform: scale(1.03);
    transition: 0.4s ease;
  }
}

.grid-item--container:not(hover) {
  overflow: hidden;

  .grid-item__grid-image-container img {
    overflow: hidden;
    transform: scale(1);
    transition: 0.4s ease;
  }
}

.grid-item__grid-content-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-item__grid-pre-text-list {
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 30px;
  padding: 0 13px 0 30px;
  list-style-type: disc;
  display: inline-block;
  margin: 0 0 5px;
}

.grid-item__grid-pre-text {
  font-size: 12px;
  text-transform: capitalize;
}

.grid-item__grid-heading {
  color: rgb(255, 255, 255);
  text-transform: capitalize;
}

.grid-item__grid-heading p {
  font-size: 20px;
  margin: 0 0 10px;
  font-weight: 700;
}

.grid-item__button {
  color: #000000;
  background-color: rgb(255, 255, 255);
  border: none;
  text-transform: capitalize;
  margin: 10px 0 0;
}

@media screen and (min-width: 750px) {
  .grid-item__grid-pre-text {
    font-size: 14px;
  }

  .grid-item__grid-heading p {
    font-size: 32px;
    margin: 0 0 20px;
  }
}
